! rofi settings
 rofi.color-window:          #FFEA67, #403A1A
 rofi.color-normal:          #FFEA67,#403A1A,#FFEA67,#403A1A,#FFFFFF
 rofi.color-urgent:          #FFEA67,#FFB2B2,#FFEA67,#403A1A,#FFFFFF
 rofi.color-active:          #FFEA67,#C272C1,#FFEA67,#FFFFFF,#FFEA67
 rofi.color-enabled:         true
 rofi.borderwidth:	     10
 rofi.font:                  Inconsolata 11

